.page-main {
  background-color: #20232a;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    background-color: rgb(227, 230, 241);
    border-radius: 4px;
    padding: 4rem;
    width: 25%;
    box-shadow: 2px 2px 4px 2px rgb(221, 235, 248);
    display: flex;
    flex-direction: column;
  }

  .form-items {
    margin: 0.5rem;

    input {
      padding: 0.4rem;
      width: 100%;
      border: thin solid rgb(133, 133, 133);
      border-radius: 4px;
      box-sizing: border-box;
      font-family: "Righteous", cursive;
    }
  }
}

.btn {
  background-color: rgb(157, 230, 157);
  color: #20232a;
  font-size: 1rem;
  font-family: "Righteous", cursive;
  cursor: pointer;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;

  &:hover {
    background-color: #20232a;
    color: rgb(157, 230, 157);
    transition: 1000ms;
  }

  &:active {
    background-color: #20232a;
    color: rgb(84, 224, 84);
  }
}
.disabled {
  background-color: aliceblue;
  color: grey;
}
