<div class="page-main">
  <div class="form-container">
    <form [formGroup]="loginForm">
      <div class="form-items">
        <input type="text" class="username" name="username" placeholder="username" formControlName="username" required>
      </div>

      <div class="form-items">
        <input type="password" class="password" name="password" placeholder="password" formControlName="password"
          required>
      </div>

      <div class="form-items">
        <button [ngClass]="{disabled :!loginForm.valid }" [disabled]="!loginForm.valid" class="btn"
          (click)="submit($event)">Login</button>
      </div>

    </form>
  </div>
</div>
