.page-main {
  background-color: rgb(212, 208, 208);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .log {
    background-color: rgb(62, 211, 94);
    border-radius: 4px;
    padding: 4rem;
    width: 25%;
    box-shadow: 2px 2px 4px 2px rgb(221, 235, 248);
    display: flex;
    flex-direction: column;
    span {
      font-family: "Righteous", cursive;
      color: white;
      font-size: 2rem;
    }
  }
}
